/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .content {
   background-color: #FCFCFC;
   padding: 20px;
   margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
   -webkit-border-radius: 0 0 6px 6px;
   -moz-border-radius: 0 0 6px 6px;
   border-radius: 0 0 6px 6px;
   -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.15);
   -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.15);
   box-shadow: 1px 1px 1px rgba(0,0,0,.15);
 }

.actions {
  text-align: center;
}

table.table {
  th {
    border-left: thin solid #CCC;
    border-right: thin solid #CCC;
    border-bottom: thin solid #CCC;
    text-align: center;
  }
  td {
    border-right: thin solid #DDD;
    border-left: thin solid #DDD;
    border-bottom: thin solid #DCDCDC;
  }

  ul.actions {
    li {
      float: left;
      margin: 0 3px 0 3px;
    }
  }
}